<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SBGhadge1.Properties.Settings.sbghadgeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\sbghadge.accdb;Persist Security Info=True;Jet OLEDB:Database Password=sbg123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>